
<!-- | -> pipelar stringleri, para birimi tutarlarını, tarihleri ​​ve diğer görüntüleme verilerini biçimlendirmenin iyi bir yoludur. -->
<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id:</span>{{hero.id}}</div>
<div><span>name:</span>{{hero.name}}</div> 

<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
  </div>

  <!-- [(ngModel)]Angular'ın iki yönlü veri bağlama sözdizimidir. Kullanabilmek için Forms module ün app.modele.ts e eklenmesi gerekir -->