<div id="search-component">
    <label for="search-box">Hero Search</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
    <!-- eşleşen arama sonucunun listesi
    $, hero'ların bir dizi değil, Observable olduğunu belirten bir kuraldır. -->

    <!-- *ngFor bir observable ile hiçbir şey yapamayacağından, pipe | karakter ve ardından zaman async sözdizimi kullanılmıştır. -->
    <!-- Bu, Angular'ın AsyncPipe'ını tanımlar ve bir Observable'a otomatik olarak abone olur, böylece bileşen sınıfında bunu yapmanıza gerek kalmaz. -->

    <ul class="search-result">
        <li *ngFor="let hero of heroes$ | async" >
          <a routerLink="/detail/{{hero.id}}">
            {{hero.name}}
          </a>
        </li>
      </ul>
</div>

